body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.head {
    text-align: center;
}

.head h1 {
    font-size: 24px;
}

p {
    font-size: 15px;
}

.print {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(18, 18, 18, 0.1);
}

table,
table tr th,
table tr td {
    border: 1px solid #000;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 50px;
    padding: 0 8px;
}

td {
    padding: 10px;
    text-align: center;
}

.xh {
    width: 40px;
}

.time {
    text-align: right;
    margin-top: 20px;
    margin-right: 15px;
}

.printBtn {
    text-align: center;
}

.printBtn button {
    background-color: rgb(9, 119, 197);
    padding: 10px 25px;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}